/* Horizontal Navbar */
.nav-ul {
  list-style: none;           /* Remove bullets */
  display: flex;              /* Horizontal layout */
  justify-content: flex-start; /* Align items to the left */
  padding: 0;
  margin: 0;
  background-color: #2c3e50; /* Dark navbar background */
}
.footer {
  text-align: center;
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-ul li {
  margin: 0 20px;            /* Space between links */
}

.nav-ul li a {
  text-decoration: none;      /* Remove underline */
  color: #ecf0f1;             /* White-ish text */
  font-weight: bold;
  padding: 15px 0;
  display: block;
  transition: color 0.3s;
}

.nav-ul li a:hover {
  color: #3498db;             /* Hover color */
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
